body {
    width: 340px;
    height: 300px;
}

.link_input {
    background-color: #1D1D1F;
    margin: 3px;
}

.vertical_input_box {
    background-color: #181A21;
    color: white;
    border: 0px;
    width: 69%;
    height: 35px;
    border-radius: 2px;
}

.horizontal_input_box {
    background-color: #181A21;
    color: white;
    border: 0px;
    width: 97%;
    height: 35px;
    border-radius: 2px;
}

.Submit_button{
    background-color: #303443;
    padding: 0px;
    margin: 0px;
    margin-right: 3px;
    float: right;
}

.horizontal_button{
    background-color: #303443;
    color: white;
    min-width: 95%;
    border: 4px;
    border-radius: 2px;
    font-size: 14px;

}
.download_button{
    background-color: #303443;
    padding: 5% 13%;
    color: white;
    border: 4px;
    border-radius: 2px;
}
